* {
	box-sizing: border-box;
}

/* BODY, HEADERS, ANCHOR TAG */

html,
body {
	height: 100%;
	font-size: 62.5%; 
}

body {
	font-family: "Titillium Web", Helvetica, Arial, Sans-serif;
	text-align: center;
	font-size: 1.6rem;
	color: #000;
	font-weight: 300;
}

header {
	height: 70px;
	z-index: 1;
}

h1, 
h2, 
h3, 
button, 
time, 
a {
	font-family: "Teko", Helvetica, Arial, Sans-serif;
	text-transform: uppercase;
}

h1 {
	font-size: 12.0rem;
	letter-spacing: 1rem;
	font-weight: 300;
	color: #fff;
}

h2{
	font-size: 3rem;	
	letter-spacing: .2rem;
}

h3{
	font-size: 2.0\\rem;
	letter-spacing: .2rem;
	margin-bottom: 16px;
}

a {
	text-decoration: none;
	color: #000;
}

/* CLEARFIX */

.clearfix:before, .clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}

.logo {
	background: url("../img/sage.svg") left center/99% no-repeat;
	float: left;
	width: 70px;
	height: 70px;
	margin-left: 1.25%;
}

/* NAVIGATION */

nav {
	float: right;
	max-width: 55%;
}

nav ul li,
aside ul li {
	display: inline-block;
}

nav ul li a {
	font-family: "Titillium Web", Helvetica, Arial, Sans-serif;
	font-size: 1.6rem;
	text-transform: capitalize;
	display: block;
	text-decoration: none;
	color: #cccccc;
	margin-right: 40px;
	padding: 26px 0;
	position: relative;
	transition: all 0.3s ease-out;
}

nav ul li a:hover,
nav ul li a.active {
	color: #f63c3c;
	border-bottom: 3px solid #f63c3c;
}

nav ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f63c3c;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav ul li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

[type="checkbox"], label {
	  display: none;
}

/* HERO */

.hero {
	position: relative;
	height: 1011px; 
	background: url(../img/projects/background-hero.jpg) no-repeat center -70px;
	background-color: #fff;
}

.title {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}

li.active h1 {
	line-height: 14.25rem;
}

li h1 ~ p {
	font-size: 2.2rem;
	font-weight: 300;
	color: #fff;
    max-width: 75%;
    margin: 10px auto 6%;
    line-height: 3rem;
}

li.active a {
	font-size: 2.0rem;
	letter-spacing: .3rem;
	background-color: #fff;
	padding: 18px 5.5%; 
	-webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

li.active a:hover {
	color: #fff;
	background-color: #f63c3c;
}

section.hero nav {
	position: absolute;
	bottom: 4%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}

.hero-nav li {
	width: 7%;
	height: 4px;
	display: inline-block;
	background-color: rgba(255,255,255, .4);
	margin: 0 1%;
}

.hero-nav li.active {
	background-color: #fff;
}

/* MY PROJECTS SECTION */

section.clearfix {
	padding-top: 50px;
}

section.clearfix h2 {
	margin-bottom: 45px;
}

section.clearfix article h3 {
	font-size: 3rem;
	font-weight: 400;
	margin: 15px auto 5px;
	letter-spacing: .5rem;
}

section article {
	width: 48%;
	position: relative;
	float: left;
	margin-left: 1.33%;
}

section article:nth-of-type(2) {
	width: 48%;
	position: relative;
	float: left;
	margin: 0 1.33%;
}

main section ul li {
	display: none;
}

main section ul li.active {
	display: inline-block;
}

img {
	width: 100%;
	background-color: #000;
}

/* ARTICLES */

article p {
	font-size: 1.4rem;
	width: 75%;
	margin: 0 auto 30px;
	line-height: 2rem;
	color: #555555;
}

article figure {
	width: 100%;
    height: 100%;
    position: relative;
}

article figcaption {
    bottom: 50%;
    position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #f63c3c;
	border: 4px solid #352d2f;
	top: 0%;
	left: 0%;
	font-weight: 300;
	text-align: center;
	opacity: 0;

  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

article figcaption:hover {
	opacity: 100;
}

figcaption h4 {
	display: block;
	font-size: 2.4rem;
	color: #fff;
	margin-top: 20%;
	letter-spacing: .3rem;
}

article figcaption p {
	display: inline-block;
	color: #fff;
	margin-top: 8%;
	text-transform: uppercase;
	font-family: 'Teko', Helvetica, Arial, sans-serif;
	letter-spacing: .2rem;
}

time {
	display: block;
	margin-bottom: 5px;
}

figure {
	position: relative;
}

section.clearfix footer {
	width: 100%;
	height: 140px;
	display: inline-block;
	position: relative;
	padding-top: 40px;
}

section.clearfix footer a {
	font-size: 2rem;
	color: #f63c3c;
	border-bottom: 4px solid #f63c3c;
	margin-top: 50px;
	letter-spacing: .5rem;

	-webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

section.clearfix footer a:hover {
	color: #30282a;
	border-bottom: 4px solid #30282a;
}

/* SHOWCASE SECTION */

main section.showcase {
	background-color: #f63c3c;
	height: 240px;
	color: #fff;
	line-height: 35px;
	padding: 60px 0 10px;
}

main section.showcase h1 {
	font-size: 4rem;
	letter-spacing: .5rem;
	font-weight: 300;
}

main section.showcase p {
	font-family: 'Roboto', Arial, sans-serif; 
	font-weight: 300;
	font-size: 1.6rem;
	margin-bottom: 15px;
}

section.showcase a {
	font-size: 20px;
    letter-spacing: 3px;
    padding: 15px 81px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

section.showcase a:hover {
	color: #fff;
	background-color: #30282a;
}

/* SOCIAL ASIDE */

aside h2, 
aside h2 ~ p {
	text-align: left;
}

aside h2 {
	font-size: 4rem;
	margin: 20px 1% 5px;
}

aside h2 ~ p {
	font-size: 1.6rem;
	margin: 0 0 45px 1%;
}

main aside {
	padding: 40px 0 0;
}

aside ul {
	
}

aside ul li a {
	display: block;
	color: #fff;
	background-color: #30282a;
	padding: 15% 20%;
	font-size: 3rem;
	font-weight: 300;
	letter-spacing: .5rem;
	margin-bottom: 80px;
	-webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

aside ul li a:hover {
	background-color: #f63c3c;
}

aside ul li {
	display: inline-block;
    margin: 0 1.25%;
    width: 22.5%;
    float: left;
}

aside ul li:last-child {
	margin-right: 0;
}

ul li a i.fa {
	display: block;
	font-size: 50px;
	margin-bottom: 25px;
}

/* FOOTER */

body > footer {
    text-align: left;
}

footer small {
	font-size: 13px;
    color: #555555;
    margin-left: 1%;
}

/*----------------------------------------
	MEDIA QUERIES
----------------------------------------*/

/* < 768 */

@media screen and (max-width: 768px) {
	header.header {
		display: hidden;
	}

	.logo {
		min-width: 9.85%
	}

	nav ul {
		display: none;
	}

	li.active h1 {
		font-size: 8rem;
		line-height: 8rem;
	}

	nav ul li a {
		margin: 0;
	}

	nav ul li a:hover, 
	nav ul li a.active {
		border-bottom: 1px solid #f63c3c;
	}

	li h1 ~ p {
		font-size: 2rem;
		line-height: 2.5rem;
	}

	section article,
	section article:nth-of-type(2) {
		width: 90%;
		margin: 10px 5%;
	}

	section article:nth-of-type(1) {
		margin: 0 5%;
	}

	main section.showcase p {
		padding: 0 5%;
    	line-height: 2.5rem;
    	margin: 10px 0 20px;
	}

	aside h2, 
	aside h2 ~ p {
		text-align: center;
	}

	main section.showcase {
		height: 300px;
	}

	aside ul li {
		margin: 0 5%;
    	width: 90%;
	}

	body > footer {
		text-align: center;
	}



	label {
		display: block;
		width: 40px;
		height: 40px;
		cursor: pointer;
		position: absolute;
		right: 20px;
		top: 20px;
	}
  
	label:after {
	  content:'';
	  display: block;
	  width: 24px;
	  height: 2px;
	  background: #f63c3c;
	  margin: 7px 5px;
	  box-shadow: 0px 8px 0px #f63c3c, 0px 16px 0px #f63c3c;
	}

	label:after:hover {
		color: #000;
		background-color: #f63c3c;

	}

	[type="checkbox"]:checked ~ ul {
  		display: block;
  		text-align: center;
  		z-index: 1;
  		position: absolute;
		right: 20px;
		left: 20px;
		top: 70px;
	}

	nav a {
		  color: #777;
	}

	nav ul li {
	    display: block;
  		float: none;
  		width: 100%;
  		text-align: center;
  		background: #fff;
	    text-indent: 20px;
	}

	nav > ul > li {
  		margin-left: 0px;
	}

	nav > ul li ul li {
  		display: block;
		float: none;
	}
  
	nav > ul li ul {
		display: block;
  		position: relative;
  		width: 100%;
		z-index: 9999;
		float: none;
	}

}
